<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
                        http://www.springframework.org/schema/beans/spring-beans.xsd  
                        http://www.springframework.org/schema/mvc  
                        http://www.springframework.org/schema/mvc/spring-mvc.xsd  
                        http://www.springframework.org/schema/context  
                        http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
	<!-- 开启注释 -->
	<mvc:annotation-driven></mvc:annotation-driven>
	<!-- 拦截器 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/page/**"/>
			<mvc:mapping path="/management/**"/>
			<mvc:exclude-mapping path="/page/index"/>
			<mvc:exclude-mapping path="/page/manager-login"/>
			<bean class="interceptor.LoginInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>
	<!-- 映射静态文件的路径 -->
	<mvc:resources location="/WEB-INF/js/" mapping="/js/**"></mvc:resources>
	<mvc:resources location="/WEB-INF/css/" mapping="/css/**"></mvc:resources>
	<mvc:resources location="/WEB-INF/images/" mapping="/images/**"></mvc:resources>
	<mvc:resources location="/WEB-INF/fonts/" mapping="/fonts/**"></mvc:resources>
	<mvc:resources location="/files/" mapping="/files/**"></mvc:resources>
	<!-- 扫描controller -->
	<context:component-scan base-package="controller"></context:component-scan>
	<!-- view resolver -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>
	<!-- 上传文件 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize">
			<value>524288000</value>
		</property>
	</bean>
</beans>